.zhuanti{
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    position: absolute;
    top: 0;
}
.zhuanti1{
    width: 100%;
    background: #fff;
    margin-top: 50px;
    box-sizing: border-box;
    padding: 10px;
    hr{
        width: 50px;
        height: 3px;
        background: #bb9161;
    }
    img{
        width: 100%;
        margin-top: 50px;
    }
}


