.Centent_nav1{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #fff;
    z-index: 99;
}
.div{
    position: absolute;
    top: 10px;
    left: 20px;
    background: #fff;
    width: 50px;
    height: 50px;
    z-index: 99;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    box-shadow: #f5f5f5 0px 0px 20px;
    overflow: hidden;
}
.Centent_nav1_nav{
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #f5f5f5;
    >div{
        >div{
            img{
                width: 100%;
                height: 100%;
                vertical-align: top;
            }
        }
        .el-carousel__indicators{
           display: flex;
           li{
            
           }
        }
    }
}
.details_t{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 15px;
    background: #fff;
}
.details_a{
    font-size: 10px;
    color: #b2b2b2;
    box-sizing: border-box;
    padding: 0 20px;
    background: #fff;
}
.details_price{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    background: #fff;
    justify-content: space-between;
    >div{
        display: flex;
        .details_price_c{
            color: #b2b2b2;
            box-sizing: border-box;
            padding: 0 10px;
        }
    }
    .details_price_c{
        color: #b2b2b2;
        box-sizing: border-box;
        padding: 0 10px;
    }
}
.details_details{
    display: flex;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 20px;
    background: #fff;
    >div{
        width: 50%;
        text-align: center;
    }
}
.details_details1{
    width: 100%;
    box-sizing: border-box;
    img{
        width: 100%;
    }
}
.details_bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    .div1{
        width: 50%;
        box-sizing: border-box;
        display: flex;
        padding: 10px;
        >p{
            width: 33.33%;
            font-size: 30px;
        }
        >div{
            width: 50%;
            box-sizing: border-box;
            padding: 10px 0;
            text-align: center;
        }
        .red{
            background: red;
            color: #fff;
        }
    }
    .div2{
        width: 50%;
        box-sizing: border-box;
        display: flex;
        >div{
            width: 50%;
            box-sizing: border-box;
            text-align: center;
            padding: 20px 0;
        }
        .red{
            background: red;
            color: #fff;
        }
    }
}
// 选择规格
.guige{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    border: 1px solid;
    box-sizing: border-box;
    li{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
       
        span{ 
            display: block;
            width: 22%;
            box-sizing: border-box;
            padding: 5px;
            text-align: center;
            border: 1px solid;
            font-size: 10px;
            margin: 5px;
        }
    }
    >p{
        box-sizing: border-box;
        padding: 20px;
        margin-bottom: 20px;
        i{
            float: right;
        }
    }
    .red{
       width: 100%;
       float: unset;
       background: red;
       line-height: 50px;
       text-align: center;
       color: #fff;
    }
    .num1{
        width: 100%;
        display: flex;
        box-sizing: border-box;
        padding: 10px;
        justify-content: space-between;
        // margin-top: 70px;
        >div{
            width: 30%;
            // float: right;
            display: flex;
            box-sizing: border-box;
            padding:  0 10px;
            text-align: center;
            // line-height: 10px;
            >p{
                padding: 0 10px;
                box-sizing: border-box;
                
            }
            i{
                font-size: 20px;
            }
        }
    }
}